html {
  --tab-color: #273c81;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #0a163f;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  margin: 6px;
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
}

/* desktop scaling */
#desktop-container {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
#desktop-background {
  z-index: -5;
}
#desktop-bottom-bar {
  z-index: -4;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #0a163fde;
}

/* phaser canvas */
#game-screen {
  z-index: 5;
  width: 1024px;
  height: 780px;
  background-color: var(--tab-color);
  border: 4px solid var(--tab-color);
  display: flex;
  flex-direction: column;
}
