body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

/* desktop scaling */
#desktop-container {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
#desktop-background {
  z-index: -5;
}

/* phaser canvas */
canvas { 
  z-index: 5;
  position: relative;
}